.keypad-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 400px;
    
}

.keypad-keys {
    margin: 2px;
    font-size: larger;
}