.keypad-container {
    margin: 10px;
    max-width: 500px;
}

.keypad-keys {
    margin: 2px;
    font-size: x-large;
    font-weight: bold;
    width: 50px;
}

@media screen and (max-width: 500)  { 
    .keypad-keys {
        margin: 2px;
        font-size: large !important;
        width: 20px;
    }
    
  }