.whiteboard-container {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    display: flex;
    border: 2px solid red;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper button {
    z-index: 1;
    height: 40px;
    width: 150px;
    margin: 10px;
    padding: 5px;
  }

  .button-wrapper label {
    margin: 10px;
  }
  
  .excalidraw .App-menu_top .buttonList {
    display: flex;
  }
  
  .excalidraw-wrapper {
    height: 800px;
    width: 600px;
    margin-left: auto;
    position:absolute;
    
  }
  
  :root[dir="ltr"]
    .excalidraw
    .layer-ui__wrapper
    .zen-mode-transition.App-menu_bottom--transition-left {
    transform: none;
  }
  