.whiteboard-container {
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 80px;
    display: none;
  }
  
  .button-wrapper button {
    z-index: 1;
    height: 40px;
    width: 150px;
    margin: 10px;
    padding: 5px;
  }

  .button-wrapper label {
    margin: 10px;
  }
  
  .excalidraw .App-menu_top .buttonList {
    display: flex;
  }
  
  .excalidraw-wrapper {
    height: 800px;
    margin-right: 0px;
    position: relative;
  }
  
  :root[dir="ltr"]
    .excalidraw
    .layer-ui__wrapper
    .zen-mode-transition.App-menu_bottom--transition-left {
    transform: none;
  }
  